:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 7px solid black;
  margin-top: 100px;
  width: calc(100% - 255px);;
  height: calc(100vh - 135px);
}